{{ hostvars['elk-node1'].ansible_default_ipv4.address }}  elk-node1
{{ hostvars['elk-node2'].ansible_default_ipv4.address }}  elk-node2
{{ hostvars['elk-node3'].ansible_default_ipv4.address }}  elk-node3
